<!-- templates/dashboard.html -->
{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}
<h2>Welcome, {{ user.username }}!</h2>
<a href="{{ url_for('create_time_capsule') }}" class="btn btn-success"
  >Create New Time Capsule</a
>

<h3>Your Time Capsules</h3>
<div class="list-group">
  {% for capsule in user.capsules %}
  <a
    href="{{ url_for('view_time_capsule', time_capsule_id=capsule.id) }}"
    class="list-group-item list-group-item-action"
  >
    <h5 class="mb-1">{{ capsule.title }}</h5>
    <p class="mb-1">{{ capsule.description }}</p>
    <small>Unlock Date: {{ capsule.unlock_date }}</small>
  </a>
  {% endfor %}
</div>
{% endblock %}
