<!-- templates/index.html -->
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="jumbotron mt-4">
  <h1 class="display-4">Welcome to the Virtual Time Capsule</h1>
  <p class="lead">Store your memories and messages for the future.</p>
  <hr class="my-4" />
  <p>Login or register to get started.</p>
  <a
    class="btn btn-primary btn-lg"
    href="{{ url_for('auth.login') }}"
    role="button"
    >Login</a
  >
  <a
    class="btn btn-secondary btn-lg"
    href="{{ url_for('auth.register') }}"
    role="button"
    >Register</a
  >
</div>
{% endblock %}
